.container {
    display: grid;
    grid-template-rows: repeat(16, 60px);
    grid-template-columns: repeat(16, 60px);
    width: 960px;
    height: 960px;
}

.squaredDiv {
    background-color: lime;
    border-width: 1px;
    border: solid;
}

/* 
.squareDiv:hover {
    background-color: black;
    border-width: 1px;
    border: solid;
} */