.container {
    display: grid;
    grid-template-rows: repeat(16, 30px);
    grid-template-columns: repeat(16, 30px);
}

.squareDiv {
    background-color: lime;
    border-width: 1px;
    border: solid;
}